@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

textarea {
    width: 70%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding:20px;
    height: 10vw;
    font-size: 20px;
}
body {
    margin:0;
    padding: 0;
     /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
     font-family:'Poppins', sans-serif;;
}
.social-icon-div {
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 6px;
    padding:6px;
    margin-top: 5rem;
 }
 .thisicon {
     display: flex;
     align-self: auto;
     padding: 18px;
     margin: 6px;
     font-size:22px;
   color: blue;
 
 }
 .thisicon:hover {
    color: blue;
}
.social-icon-div a {
    text-decoration: none;
    cursor: pointer;
}
#outputbox {
    width: 72%;
    display: flex;
    /* justify-content: center; */
    margin: 2rem auto;
    height: 10vw;
    border: 2px solid blue;
    width: 70%;
    display: flex;
    padding:20px;
    font-size: 20px;
    text-align: left;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

button {
    margin-top:2rem;
    background-color: blue;
    outline: none;
    width: 14.6rem;
    border: none;
    padding: 0.7rem 3rem 0.7rem 3rem;
    font-weight: bold;
    text-align: center;
    font-size: 19px;
    }
    